
gbible/PKStrongsController~.m
*.png
bibleContent
*.ttf

*.otf

gbible/PKBibleViewController~.m

gbible/PKBibleViewController.oldm

*.oldm

.idea/.name

.idea/encodings.xml

.idea/gbible.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/xcode.xml

gbible/bibleContent2

*.xcuserstate

gbible/APIKeys.m

gbible/APIKeys.m

gbible/APIKeys.old.m

# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap

#CocoaPods
Pods