<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HS_NAVIGATION_BAR</key>
	<dict>
		<key>FONT_NAME</key>
		<string>Arial-Bold</string>
		<key>FONT_SIZE</key>
		<string></string>
		<key>TEXT_COLOR</key>
		<string></string>
		<key>TEXT_SHADOW_COLOR</key>
		<string></string>
		<key>BACKGROUND_COLOR</key>
		<string>2D2D2D</string>
		<key>BACKGROUND_IMAGE</key>
		<string></string>
		<key>BACKGROUND_IMAGE_LANDSCAPE</key>
		<string></string>
	</dict>
	<key>HS_SEARCH_BAR</key>
	<dict>
		<key>BACKGROUND_IMAGE</key>
		<string></string>
		<key>BACKGROUND_COLOR</key>
		<string>000000</string>
	</dict>
	<key>HS_TABLEVIEW_HEADER</key>
	<dict>
		<key>FONT_NAME</key>
		<string></string>
		<key>FONT_SIZE</key>
		<string></string>
		<key>TEXT_COLOR</key>
		<string>FDFDFD</string>
		<key>BACKGROUND_COLOR</key>
		<string>2D2D2D</string>
		<key>BACKGROUND_IMAGE</key>
		<string></string>
	</dict>
	<key>HS_TABLEVIEW</key>
	<dict>
		<key>FONT_NAME</key>
		<string></string>
		<key>FONT_SIZE</key>
		<string></string>
		<key>TEXT_COLOR</key>
		<string>D7D7D7</string>
		<key>SEPARATOR_LINE_COLOR</key>
		<string>1A1A1A</string>
	</dict>
	<key>HS_BADGE_VIEW</key>
	<dict>
		<key>TEXT_COLOR</key>
		<string></string>
		<key>BORDER_COLOR</key>
		<string></string>
		<key>BACKGROUND_COLOR</key>
		<string></string>
	</dict>
	<key>HS_CHAT_REPLY_BAR</key>
	<dict>
		<key>BORDER_COLOR</key>
		<string></string>
		<key>BACKGROUND_COLOR</key>
		<string>2d2d2d</string>
	</dict>
	<key>HS_BUTTONS</key>
	<dict>
		<key>QUESTION_HELPFUL_YES_BACKGROUND_COLOR</key>
		<string></string>
		<key>QUESTION_HELPFUL_NO_BACKGROUND_COLOR</key>
		<string></string>
		<key>CHAT_SEND_BACKGROUND_COLOR</key>
		<string>1D7E42</string>
		<key>REPORT_ISSUE_BACKGROUND_COLOR</key>
		<string>C93A32</string>
	</dict>
	<key>HS_GLOBAL</key>
	<dict>
		<key>FONT_NAME</key>
		<string></string>
		<key>BOLD_FONT_NAME</key>
		<string></string>
		<key>BACKGROUND_COLOR</key>
		<string>000000</string>
		<key>BACKGROUND_IMAGE</key>
		<string></string>
	</dict>
</dict>
</plist>
