<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme-index</key>
	<string>1</string>
	<key>theme-name</key>
	<string>Book</string>
	<key>tint-color</key>
	<string>0.1921568627, 0.6549019608, 0.9450980392, 1.0</string>
	<key>sidebar-selection-color</key>
	<string>0.8125, 0.800781, 0.773437, 1.0</string>
	<key>sidebar-page-color</key>
	<string>0.8125, 0.800781, 0.773437, 1.0</string>
	<key>sidebar-text-color</key>
	<string>0.341176, 0.223529, 0.125490, 1.0</string>
	<key>navigation-color</key>
	<string>0.341176, 0.223529, 0.125490, 1.0</string>
	<key>navigation-text-color</key>
	<string>1.0, 1.0</string>
	<key>bar-button-text-color</key>
	<string>0.341176, 0.223529, 0.125490, 1.0</string>
	<key>selection-color</key>
	<string>0.8125, 0.800781, 0.773437, 1.0</string>
	<key>word-select-color</key>
	<string>1.0, 1.0</string>
	<key>secondary-page-color</key>
	<string>1.0, 1.0</string>
	<key>page-color</key>
	<string>.945098, .933333, 0.898039, 1.0</string>
	<key>text-color</key>
	<string>0.341176, 0.223529, 0.125490, 1.0</string>
	<key>strongs-color</key>
	<string>0.125490, 0.250980, 0.341176</string>
	<key>morphology-color</key>
	<string>0.188235, 0.341176, 0.125490, 1.0</string>
	<key>interlinear-color</key>
	<string>0.333333, 1.0</string>
	<key>annotation-color</key>
	<string>0.313725, 0.125490, 0.380392, 1.0</string>
	<key>light-shadow-color</key>
	<string>1.0, 0.5</string>
	<key>hud-background-color</key>
	<string>1.0, 0.75</string>
	<key>hud-foreground-color</key>
	<string>0.125, 1.0</string>
	<key>base-ui-color</key>
	<string>0.250980, 0.282352, 0.313725, 1.0</string>
	<key>highlight-colors</key>
	<array>
		<string>1.0, 1.0, 0.0, 0.5</string>
		<string>0.5, 1.0, 0.5, 0.5</string>
		<string>0.5, 0.75, 1.0, 0.5</string>
		<string>1.0, 0.75, 0.75, 0.5</string>
		<string>1.0, 0.5, 1.0, 0.5</string>
	</array>
	<key>highlight-names</key>
	<array>
		<string>yellow</string>
		<string>green</string>
		<string>blue</string>
		<string>pink</string>
		<string>magenta</string>
	</array>
	<key>yellow-highlight-index</key>
	<integer>0</integer>
	<key>green-highlight-index</key>
	<integer>1</integer>
	<key>blue-highlight-index</key>
	<integer>2</integer>
	<key>pink-highlight-index</key>
	<integer>3</integer>
	<key>magenta-highlight-index</key>
	<integer>4</integer>
	<key>interface-fonts</key>
	<dict>
		<key>bold</key>
		<dict>
			<key>system</key>
			<string>Helvetica Bold</string>
			<key>dyslexic</key>
			<string>Open Dyslexic Bold</string>
		</dict>
		<key>normal</key>
		<dict>
			<key>system</key>
			<string>Helvetica</string>
			<key>dyslexic</key>
			<string>Open Dyslexic</string>
		</dict>
	</dict>
	<key>status-bar-style</key>
	<string>default</string>
</dict>
</plist>
